@import "../../style.scss";



.custom-shape-divider-top-1724856392 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1724856392 svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 81;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1724856392 .shape-fill {
    @include themify($themes) {
        fill: themed("primary");
    }
}


/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1724856392 svg {
        width: calc(152% + 1.3px);
        height: 70px;
    }
}