@import "../../style.scss";

.lenguajes {
    @include themify($themes) {
        color: themed("text");
        background-color: themed("bgSoft");
        display: flex;
        margin: 0 auto;
        overflow-x: hidden;
        padding: 6rem;
        border-radius: 20px;
        width: 90%;
        font-weight: 600;
        position: relative;
        align-items: center;
    }
    span {
        animation: scroll linear infinite 30s;
        position: absolute;
        left: 100%;
        font-size: 2rem;
        left: max(calc(200px * 10), 100%);
    }

    .item1 {
        animation-delay: calc(30s / 10 * (10 - 1) * -1);
    }
    .item2 {
        animation-delay: calc(30s / 10 * (10 - 2) * -1);
    }
    .item3 {
        animation-delay: calc(30s / 10 * (10 - 3) * -1);
    }
    .item4 {
        animation-delay: calc(30s / 10 * (10 - 4) * -1);
    }
    .item5 {
        animation-delay: calc(30s / 10 * (10 - 5) * -1);
    }
    .item6 {
        animation-delay: calc(30s / 10 * (10 - 6) * -1);
    }
    .item7 {
        animation-delay: calc(30s / 10 * (10 - 7) * -1);
    }
    .item8 {
        animation-delay: calc(30s / 10 * (10 - 8) * -1);
    }
    .item9 {
        animation-delay: calc(30s / 10 * (10 - 9) * -1);
    }
    .item10 {
        animation-delay: calc(30s / 10 * (10 - 10) * -1);
    }
}

@keyframes scroll {
    to {
        left: -200px;
    }
}
