@import "../../style.scss";
.sobremi {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 98vh;
        background-color: themed("bg");
        color: themed("textColor");

        @include mobile {
            padding: 20px;
            height: 120%;
        }

        h1,
        h2,
        h3,
        h4 {
            animation: reveal 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s backwards;
        }

        img {
            width: 100px;
            height: 100px;
            border: 0px solid;
            border-radius: 102px;
            transform: translatey(0px);
            animation: subirBajar 6s ease-in-out infinite;
        }

        .descripcion {
            margin-top: 20px;
            display: flex;
            font-size: 1.3rem;
            justify-content: center;
            width: 50%;
            @include mobile {
                font-size: 1rem;
            }
        }
    }

    @keyframes reveal {
        from {
            opacity: 0;
            transform: translateY(-30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes subirBajar {
        0% {
            filter: drop-shadow 0 5px 15px 0px rgba(0, 0, 0, 0.4);
            transform: translatey(0px);
        }
        50% {
            filter: drop-shadow 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translatey(-20px);
        }
        100% {
            filter: drop-shadow 0 5px 15px 0px rgba(0, 0, 0, 0.4);
            transform: translatey(0px);
        }
    }
}