@import "../../style.scss";
.sobre-mi {
    @include themify($themes) {

        background-color: themed("bg");
        color: themed("textColor");
        height: 100vh;

        .descripcion{
            display: flex;
            flex-direction: row;
            
            @include mobile {
                flex-direction: column;
            }
            @include tablet {
                flex-direction: column;
            }
    
        }

        img {
            object-fit:cover;
            max-height: 500px;
            border-radius: 20px;
        }
    }

}

