@import "../../style.scss";

form {
    @include themify($themes) {
        background-color: pink;
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: themed("textColor");

        .container-contact {
            background-color: themed("bg");
            display: flex;
            flex-direction: column;
            height: 50vh;
            padding: 30px;
        }

        .message {
            height: 4rem; /* Ajusta la altura del input */
            box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto totales */
        }
    }
}
