@import "../../style.scss";

.container-contact {
    @include themify($themes) {
        display: flex;
        position: relative;
        flex-direction: column;
        height: 70vh;
        background-color: themed("bg2");
        color: themed("textColor");
        
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 16px;

            input {
                height: 32px;
                margin-bottom: 12px;
            }

            .message {
                height: 6rem; /* Ajusta la altura del input */
                padding-top: 10px;
                box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto totales */
            }

            button {
                margin-top: 16px;
                width: fit-content;
            }
        }
        
        a{
            color: themed("primary");
            margin-top: 16px;
        }
        a:hover{
            color: themed("logo");
        }
    }
}
