@import "../../style.scss";

.inicio{
    @include themify($themes) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: themed("bg");
    color: themed("textColor");
    
    @include mobile{
        padding: 20px;
        height: 120%; 
    }

    h1, h2, h3, h4{
        animation: reveal .8s cubic-bezier(0.22, 0.61, 0.36, 1) .30s backwards
    }

    p{
        animation: reveal .8s cubic-bezier(0.22, 0.61, 0.36, 1) .25s backwards
    }

    section{
        animation: reveal .8s cubic-bezier(0.22, 0.61, 0.36, 1) .20s backwards

    }
}
}


