@import "../../style.scss";

.inicio {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        align-items: justify-content;
        justify-content: center;
        min-height: 90vh;

        background: linear-gradient(to bottom, #f6f5f1 9%, #46dc7c 40%, #1fd15f 100%);
        color: themed("021306");

        @include mobile {
            height: 120%;
        }

        h1 {
            font-size: 3rem;
            font-weight: 700;
            color: themed("021306");
            margin-bottom: 20px;
        }

        h3 {
            font-size: 1.2rem;
            font-weight: 600;
            color: themed("021306");
            margin-bottom: 20px;
        }

        h4 {
            font-size: 1rem;
            font-weight: 400;
            color: themed("021306");
            margin-bottom: 20px;
        }

        p {
            animation: reveal 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s backwards;
        }

        section {
            animation: reveal 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s backwards;
            
        }

        button {
            background-color: themed("verdeDark");
            color: themed("textColor");
            padding: 11px 30px;
            border-radius: 20px;
            font-weight: 600;
            transition: ease-in 0.2s;
            border: solid themed("verdeDark") 2px;
        }
        button:hover {
            background-color: themed("bgSoft");
            cursor: pointer;
        }
        .btn-contacto {
            border: 2px solid themed("bg");
            background-color: rgba(0, 0, 0, 0.132);
            margin: 0 1rem 1rem 0;
        }
        .btn-contacto:hover {
            background-color: themed("bgSoft");
        }
    }
}
