@import "../../style.scss";

header {
  @include themify($themes) {
    background-color: opacify($color: #00000000, $amount: 0);
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    position: fixed; //ver con q queda mejor..

    .nav {
      margin-top: 1rem;
      border-radius: 20px;
      height: 60px;
      color: themed("text");
      background-color: themed("bgNav");
      align-items: center;
      justify-content: space-between;
      display: flex;
      padding: 0 1rem;

      .nav-menu {
        font-weight: 600;

        .nav-list {
          list-style: none;
          display: flex;
          gap: 20px;

          @include mobile {
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 0;
            background-color: themed("bgNav");
            width: 100%;
            height: 0;
            overflow: hidden;
            transition: height 0.3s ease;
          }

          .burguer {
            display: none;
          
            @include mobile {
              display: block;  // Mostrar el menú hamburguesa en pantallas móviles
              cursor: pointer;
            }
          }
          

          .nav-item {
            .nav-link {
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              color: themed("textColor");
            }

            a {
              text-decoration: none;
              position: relative;
            }

            a::after {
              content: "";
              position: absolute;
              left: 50%;
              bottom: -2px; /* Ajusta la distancia entre el texto y la línea */
              width: 0;
              height: 2px; /* Grosor de la línea */
              background-color: themed("primary"); /* Color de la línea */
              transition:
                width 0.4s ease,
                left 0.4s ease; /* Controla la duración y el efecto de la transición */
              transform: translateX(-50%); /* Centra la línea */
            }

            a:hover::after {
              width: 80%;
            }
          }
        }
      }
    }

    .logo {
      font-family: Playwrite CU;
      color: themed("text");
      font-size: large;
    }
  }
}

.nav-item:hover {
  cursor: pointer;
}

