@import "../../style.scss";

header {
  @include themify($themes) {
    background-color: opacify($color: #00000000, $amount: 0);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    nav {
      margin-top: 1rem;
      border-radius: 20px;
      height: 60px;
      color: themed("text");
      background-color: themed("bgNav");
      align-items: center;
      justify-content: space-between;
      display: flex;
      padding: 0 1rem;
    }

    .logo {
      font-family: Playwrite CU;
      color: themed("text");
      font-size: large;
    }

    .nav-link {
      color: themed("text");
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        display: flex;
        flex-direction: column;
        position: static;
        background-color: themed("bgNav");
        margin-top: 10rem;
        border-radius: 0 0 20px 20px;
        width: 100%;
        gap: 1rem;

        .nav-menu.open {
          display: flex;
          margin-left: 15rem;
          top: 60px;
          flex-direction: column;
          gap: 1rem;
        }

        li {
          text-decoration: none;
          list-style: none;
          cursor: pointer;

          @include mobile {
            display: none;
          }
        }
      }
    }

    .nav-menu.open li {
      @include mobile {
        display: block;
      }
    }

    .toggles {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .burguer {
      display: none;
      @include mobile {
        display: block;
        cursor: pointer;
      }
    }
    .burger:hover {
      transform: rotate(90deg);
    }
  }
}
