@import "../../style.scss";

footer {
    @include themify($themes) {
        bottom: 0;
        background-color: themed("bgSoft");
        min-height: 30vh;
        color: themed("text");
        width: 100%;
        a {
            margin: 6px;
            justify-content: space-around;
        }

        a:hover {
            color: themed("primary");
        }
        .link-mail {
            color: themed("primary");
            text-decoration: underline;
        }

    }
}
