.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

//  LIGHT AND DARK MODE
$themes: (
  light: (
    textColor: #353534,
    bg: #f6f5f1,
    bg2: #ffffff,
    logo: #247a4b,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: rgb(34, 34, 34),
    primary: #52ad7b,
    secondary: #ffc0cb
  ),
  dark: (
    textColor: whitesmoke,
    textColorDark: #021306,
    bg: #0e0e10,
    bg2: #000000,
    logo: #247a4b,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
    primary: #21cf60,
    secondary: #ffc0cb
  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}

//ESTILOS GENERALES

* {
  font-family: "Poppins", sans-serfif;
  padding: 0;
  margin: 0;
}

html {
  overflow: scroll;
  scrollbar-color: rgb(0, 0, 0) rgb(55, 55, 55);
  scrollbar-width: 29px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

a:visited {
  color: inherit; /* Mantiene el mismo color que el enlace no visitado */
}

span {
  font-weight: bold;
  color: #417e5c;
}

//COLORES

/*=============== VARIABLES CSS ===============*/
:root {
  .inicio,
  .sobre-mi,
  .proyectos,
  .container-contact,
  footer,
  header {
    border-bottom: 1px solid gray;
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header {
    border: none;
  }

  //tablet
  @media screen and (max-width: 768px) {
    .inicio,
    .sobre-mi,
    .proyectos,
    .container-contact,
    header {
      padding-left: 3rem;
      padding-right: 3rem;
    }

  }

  //celular
  @media screen and (max-width: 480px) {
    .inicio,
    .sobre-mi,
    .proyectos,
    .container-contact,
    header {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    animation: reveal 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s backwards;
  }

  h2 {
  }
}
