.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.playwrite-cu {
  font-family: "Playwrite CU", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.main {
  width: 100vw;
}

//  LIGHT AND DARK MODE
$themes: (
  light: (
    textColor: #353534,
    bg: #ffffff,
    text: #112969,
    bgSoft: #f6f8fa,
    textColorSoft: #555,
    border: rgb(34, 34, 34),
    primary: #f5c3b4,
    bgNav: #eeeff5,
    btnHover: #ffa489
  ),
  dark: (
    textColor: whitesmoke,
    bg: #020d14,
    bgSoft: #091922,
    text: #ffffff,
    textColorSoft: lightgray,
    border: #444,
    primary: #c6fa19,
    bgNav: #16252d,
    btnHover: #9ccb00
  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}

//ESTILOS GENERALES

* {
  font-family: "Poppins", sans-serfif;
  padding: 0;
  margin: 0;
}

html {
  overflow: scroll;
  scrollbar-color: rgb(0, 0, 0) rgb(55, 55, 55);
  scrollbar-width: 29px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a,
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
}

a:visited {
  color: inherit; /* Mantiene el mismo color que el enlace no visitado */
}

//COLORES

/*=============== VARIABLES CSS ===============*/
// header {
//   padding: 0.6rem 2rem;
// }

.inicio,
.sobre-mi,
.proyectos,
.container-contact,
footer,
.lenguajes {
  padding-left: 6rem;
  padding-right: 6rem;
  justify-content: center;
  align-items: center;
}

//tablet
@media screen and (max-width: 768px) {
  .inicio,
  .sobre-mi,
  .proyectos,
  .container-contact,
  footer,
  header,
  .lenguajes {
    padding: 3rem;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
  }
}

//celular
@media screen and (max-width: 480px) {
  .inicio,
  .sobre-mi,
  .proyectos,
  .container-contact,
  footer, 
  header{
    padding: 2rem;
    width: 100%;
  }
}

h1,
h2,
h3,
h4 {
  animation: reveal 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s backwards;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.8rem;
}

a {
  font-weight: 500;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px); /* O un movimiento hacia arriba/abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Vuelve a su posición original */
  }
}
