@import "../../style.scss";

.proyectos {
    @include themify($themes) {
        background-color: themed("bg");
        color: themed("textColor");
        min-height: 100vh;

        .proyectos-container {
            z-index: 0;
            display: flex;
            flex-direction: column;
            height: auto;

            .proyecto-card {
                margin-top: 1rem;
                border-radius: 20px;
                background-size: cover;
                transition: opacity 0.3s ease;

                img {
                    border-radius: 20px;
                    width: 100%;
                    height: 25vh;
                    object-fit: cover;
                }

                .tecnologias {
                    display: flex;
                    flex-direction: row;
                    gap: 0.3rem;
                    flex-wrap: wrap;
                    padding-left: 2.4rem;
                }

                .badge {
                    background-color: themed("primary");
                    color: themed("bg");
                    padding: 0px 0.8rem;
                    border-radius: 20px;
                    justify-content: center;
                    text-align: center;
                }

                .title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;
                }

                title:visited {
                    color: themed("textColor"); /* Asegúrate de que el color sea el mismo que para los enlaces no visitados */
                }
            }
        }
    }
}

.fa-github {
    height: 30px;
}
